---
---
<div class="compact-publication" id="{{entry.key}}">
  <div class="pub-container">
  <p class="publication-text">
    <strong>{{ entry.title }}</strong><br/>
   <span class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              {{author.first}} {{author.last}}
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                {{author.first}} {{author.last}},
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and {{author.first}} {{author.last}}
              {% else %}
                {% if coauthor_url %}
                  and <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
                {% else %}
                  and {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </span>
    <br/>

    {% if entry.journal %}
      {{ entry.journal }}
    {% elsif entry.booktitle %}
      {{ entry.booktitle }},
    {% endif %}
    <br>
    {% if entry.month %}{{ entry.month | capitalize }} {% endif %}
    {% if entry.year %}{{ entry.year }}{% endif %}
  </p>
    
    <div class="pub-links">
      {% if entry.html %}
        {% if entry.html contains '://' %}
          <a href="{{ entry.html }}" class="btn">HTML</a>
        {% else %}
          <a href="{{ entry.html | prepend: '/assets/html/' | relative_url }}" class="btn">HTML</a>
        {% endif %}
      {% endif %}
      {% if entry.arxiv %}
        <a href="https://arxiv.org/abs/{{ entry.arxiv }}" class="btn">arXiv</a>
      {% endif %}
      {% if entry.pdf %}
        <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn">PDF</a>
      {% endif %}
      {% if entry.code %}
        <a href="{{ entry.code }}" class="btn">Code</a>
      {% endif %}
      {% if entry.bibtex_show %}
        <a class="btn bibtex">Bib</a>
      {% endif %}
      <!-- Ajoutez d'autres boutons ici si besoin -->
    </div>
</div>
</div>
